


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 20px;
    width: 60px;
    height: auto;
}
logo-title {
    font-size: 32px;
	margin: 0;
    text-align: right;
}
h1 {
	font-size: 32px;
	margin: 0;
}
  
nav {
	margin-top: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 20px;
}

li:last-child {
	margin-right: 0;
}

a {
	color: #000000;
	text-decoration: none;
}

title {
    color: #000000;
	text-decoration: none;
}
menu {
    color: #ffffff;
	text-decoration: none;
    margin-left: 20px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
    margin: 50px 0;
    }
    
    h2 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    
    p {
    margin-bottom: 20px;
    }
    
    ul {
    margin-bottom: 20px;
    }
    
    li {
    margin-bottom: 5px;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    @media (max-width: 600px) {
    h1 {
    font-size: 24px;
    }
    li {
        display: block;
        margin: 10px 0;
    }
    
    footer p {
        font-size: 14px;
    }
}

